<!DOCTYPE html>
<html lang="en">

<head>
    <title>Latest Polls</title>
    <meta charset="utf-8">
    <meta name="author"; content="Andrew Ward">
    {% load static %}
    <link href="{% static 'polls/style.css' %}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <h1>Polls of West Scotland</h1>
    </header>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available at this time.</p>
    {% endif %}
</body>
</html>