<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Latest Polls</title>
        <meta charset="utf-8">
        <meta name="author"; content="Andrew Ward">
        {% load static %}
        <link href="{% static 'polls/style.css' %}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <h1>Error 404</h1>
        <p>This question does not exist.</p>
    </body>
</html>